.smileybutton {
   position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;

    transition: all .5s;
}
.smileybutton:hover {
   
    left: -10px;
    top: -10px;
    width: 254px;
    height: 254px;

    transition: all .5s;
}
